<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
    <title>load-induced blindness</title>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app_loadblindness/config.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app_loadblindness/config_tutorial.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app_loadblindness/timemanager.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app_loadblindness/parametermanager.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app_loadblindness/scene_tutorials.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app_loadblindness/scene_testtrial.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app_loadblindness/loadblindness.js') }}"></script>
</head>

<body>
<main>
</main>
</body>

</html>